################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DockerTest
/DockerTest/bin/Debug/netcoreapp3.1
/DockerTest/obj/Container
/DockerTest/obj/Debug/netcoreapp3.1/staticwebassets
/DockerTest/obj
